/* Container for query-options and product-list */
.main-page-div {
    display: flex; /* Enables Flexbox layout */
    align-items: flex-start; /* Aligns items at the top of the container */
    gap: 20px; /* Space between query-options and product-list */
    padding: 20px;
}

/* Ensure query-options and product-list take up appropriate space */
.query-options {
    flex: 0 0 250px; /* Fixed width for query-options */
}

.product-list ul {
   
}
.product-info{
    
}
